.post-content {
    padding: 0 $padding__small;
    margin: 1.5rem auto 4rem auto;    
    @media screen and (min-width: 768px) {
        padding: 0 $padding__medium;
        margin-top: $padding__medium;
    }
    @media screen and (min-width: 992px) {
        padding: 0 $padding__large;
        margin: $padding__large 0 3rem 0;
        > h2 {
            max-width: 900px;
        }
        > h3 {
            max-width: 800px;
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 0 $padding__x-large;
        margin-top: $padding__x-large;
    }
    > * {
        max-width: 700px;
    }
    > p:first-of-type {
        font-weight: 600;
    }    
}

.post-comments {
    margin-top: 4rem;
}