title = "Photography"
url = "/photography/:page?"
layout = "default"
description = "Photography page"
is_hidden = 0

[builderList]
modelClass = "PaulTippetts\Photography\Models\Gallery"
scope = "-"
scopeValue = "{{ :scope }}"
sortColumn = "date"
sortDirection = "desc"
displayColumn = "title"
noRecordsMessage = "No galleries found"
detailsPage = "photography/gallery"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 12
pageNumber = "{{ :page }}"
==
{% put title %}Photography | Paul Tippetts{% endput %}

{% put scripts %}
    <script type="text/javascript" src="{{ ['assets/js.min/main.min.js']|theme }}"></script>
{% endput %}

<header id="page-header" class="page-header">
    <h1 class="page-title">Photos</h1>
    <p class="page-description">Photography description</p>
</header>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<ul class="record-list">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                <h2 class="gallery-title">
                    {% if detailsPage %}
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">                        
                    {% endif %}                        

                    {{ attribute(record, displayColumn) }}

                    {% if detailsPage %}
                        </a>
                    {% endif %}
                </h2>

                <span class="info">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar" class="svg-inline--fa fa-calendar fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 64h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V160h352v298c0 3.3-2.7 6-6 6z"></path></svg>
                    {{ record.date|date('jS M, Y') }}
                </span>

                {% if detailsPage %}
                    <a class="featured-image" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">                        
                {% endif %}
                
                <img 
                    data-src="{{ record.feature_image.filename }}"
                    src="{{ record.feature_image.thumb(768, 512,'crop') }}"
                    alt="{{ record.feature_image.description != null ? record.feature_image.description : record.feature_image.filename }}"
                    title="{{ record.feature_image.title != null ? record.feature_image.title : attribute(record, displayColumn) }}" 
                />

                {% if detailsPage %}
                    </a>
                {% endif %}                                      
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data no-data-photography-page">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a class="button prev-page" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-left" class="svg-inline--fa fa-arrow-alt-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 208v96c0 13.3-10.7 24-24 24H224v103.8c0 21.4-25.8 32.1-41 17L7 273c-9.4-9.4-9.4-24.6 0-34L183 63.3c15.1-15.1 41-4.4 41 17V184h200c13.3 0 24 10.7 24 24z"></path></svg>Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a class="button" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a class="button next-page" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-right" class="svg-inline--fa fa-arrow-alt-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 304v-96c0-13.3 10.7-24 24-24h200V80.2c0-21.4 25.8-32.1 41-17L441 239c9.4 9.4 9.4 24.6 0 34L265 448.7c-15.1 15.1-41 4.4-41-17V328H24c-13.3 0-24-10.7-24-24z"></path></svg></a></li>
        {% endif %}
    </ul>
{% endif %}